openapi: 3.0.0
info:
  title: ICAA Voting API
  version: 1.0.0
  description: An API for creating polls and voting on them, such as MVP votes for matches.
servers:
  - url: https://api.icaa.world/
    description: Production server
  - url: http://localhost:3000/
    description: Local dev server
security:
  - icaaCookieAuth: []
  - icaaBearerAuth: []
paths:
  /voting/v1/polls:
    get:
      summary: Get all polls
      description: Retrieves a list of all polls, sorted by start time descending
      security: []
      parameters:
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
            example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
        - name: limit
          in: query
          description: Max amount of polls to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 10
      responses:
        '200':
          description: A list of polls.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Poll'
                  cursor:
                    type: string
                    example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
                  hasNextPage:
                    type: boolean
                    example: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new poll
      description: Admin endpoint to create a new poll. IDs for the poll, groups, and options are assigned by the server.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      requestBody:
        description: Poll to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Poll'
      responses:
        '200':
          description: The created poll.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Poll'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /voting/v1/polls/{id}:
    get:
      summary: Get a poll
      description: Get one poll by id
      security: []
      parameters:
        - name: id
          in: path
          description: ID of the poll
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The poll
          content:
            application/json:
              schema:
                type: object
                required:
                  - poll
                properties:
                  poll:
                    $ref: '#/components/schemas/Poll'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Poll not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a poll
      description: Update a poll by id. Groups and options keep their IDs across updates when they are included in the request so cast votes stay attributed. New groups/options without IDs are assigned IDs by the server.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: id
          in: path
          description: ID of the poll
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: Poll to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Poll'
      responses:
        '200':
          description: The updated poll
          content:
            application/json:
              schema:
                type: object
                required:
                  - poll
                properties:
                  poll:
                    $ref: '#/components/schemas/Poll'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Poll not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Poll was modified by another request, retry with the latest version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a poll
      description: Delete a poll and its results by id
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: id
          in: path
          description: ID of the poll
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '204':
          description: The poll was deleted
        '404':
          description: Poll not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /voting/v1/polls/{id}/votes:
    post:
      summary: Vote on a poll
      description: |
        Casts a ballot of one or more options on a poll. The poll's vote config limits how many
        options may be selected in total and per group.

        Votes are only accepted between the poll's start and end times.

        The Idempotency-Key header protects against accidental double counting from client retries:
        a key may only ever be counted once. Reusing a key with a different ballot is rejected.
      security: []
      parameters:
        - name: id
          in: path
          description: ID of the poll
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cf-turnstile-response
          in: header
          description: Cloudflare turnstile CAPTCHA
          required: true
          schema:
            type: string
            example: XXXX.DUMMY.TOKEN.XXXX
        - name: Idempotency-Key
          in: header
          description: Client generated unique key for this ballot, used to deduplicate retried requests
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: Ballot of options to vote for
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoteBallot'
      responses:
        '200':
          description: The vote was recorded. Also returned when a ballot with the same Idempotency-Key was already recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoteConfirmation'
        '400':
          description: Bad request, invalid captcha, or invalid ballot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The poll is not currently active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Poll not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The Idempotency-Key was already used with a different ballot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /voting/v1/polls/{id}/results:
    get:
      summary: Get the results of a poll
      description: |
        Gets the vote results for a poll at the detail level determined by the poll's settings.

        Access depends on the poll's results visibility:
        - Live: anyone can view results at any time
        - AfterClose: anyone can view results after the poll's end time, admins at any time
        - AdminOnly: only admins can view results

        Non-admin users see results at the detail level specified by the poll's publicResultsLevel:
        - Full: option counts and total votes
        - Percentages: percentages per option without raw counts
        - Rankings: ordered ranking (1, 2, 3…) without any numbers
        - None: no results visible to non-admin users

        Admins always receive Full results.
      security:
        - icaaCookieAuth: []
        - icaaBearerAuth: []
        - {} # Allow unauthenticated users
      parameters:
        - name: id
          in: path
          description: ID of the poll
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The results of the poll
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResults'
        '403':
          description: Results are not available for this poll.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Poll not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    icaaCookieAuth:
      type: apiKey
      in: cookie
      name: ICAA_ACCESS_TOKEN
      description: ICAA access token cookie
    icaaBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: ICAA access token in Authorization header
  schemas:
    Poll:
      type: object
      required:
        - id
        - version
        - name
        - startTime
        - endTime
        - resultsVisibility
        - status
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          minLength: 3
          maxLength: 255
          example: Eastern Finals MVP
        description:
          type: string
          maxLength: 1000
          example: Vote for the Most Valuable Player of the Eastern Finals
        startTime:
          type: string
          format: date-time
          example: "2026-08-07T19:00:00.000Z"
        endTime:
          type: string
          format: date-time
          example: "2026-08-08T00:00:00.000Z"
        resultsVisibility:
          $ref: '#/components/schemas/ResultsVisibility'
        publicResultsLevel:
          $ref: '#/components/schemas/PublicResultsLevel'
        voteConfig:
          $ref: '#/components/schemas/VoteConfig'
        groups:
          type: array
          description: Optional groups that options belong to, e.g. teams. Options are nested inside their group.
          items:
            $ref: '#/components/schemas/PollGroup'
        options:
          type: array
          description: Options that don't belong to a group
          items:
            $ref: '#/components/schemas/PollOption'
        status:
          $ref: '#/components/schemas/PollStatus'
    ResultsVisibility:
      type: string
      description: |
        Controls who can view a poll's results and when:
        - Live: anyone can view results at any time
        - AfterClose: anyone can view results after the poll's end time, admins at any time
        - AdminOnly: only admins can view results
      enum:
        - Live
        - AfterClose
        - AdminOnly
      example: AfterClose
    PublicResultsLevel:
      type: string
      description: |
        Controls what level of results detail non-admin users can see:
        - Full: option counts and total votes are visible (admins always see this)
        - Percentages: percentages per option without raw counts or total votes
        - Rankings: ordered ranking per option without any numbers
        - None: no results visible to non-admin users
      enum:
        - Full
        - Percentages
        - Rankings
        - None
      example: Full
    PollStatus:
      type: string
      description: Computed status of a poll based on the current time
      readOnly: true
      enum:
        - Upcoming
        - Active
        - Closed
      example: Active
    VoteConfig:
      type: object
      description: Limits on how many options a single ballot can select. Defaults to one selection total.
      properties:
        maxSelections:
          type: integer
          minimum: 1
          default: 1
          description: Max amount of options that can be selected in a single ballot
          example: 1
        maxSelectionsPerGroup:
          type: integer
          minimum: 1
          description: Max amount of options that can be selected per group in a single ballot. No limit if unset.
          example: 1
    PollGroup:
      type: object
      required:
        - name
        - options
      properties:
        id:
          type: string
          format: uuid
          description: Assigned by the server when omitted. Include on updates to preserve the group's identity.
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: Team Boston
        color:
          type: string
          pattern: '^#[0-9a-fA-F]{6}$'
          example: "#70b2e0"
        imageUrl:
          type: string
          maxLength: 500
          example: https://assets.icaa.world/42e777a4-2757-4bbf-bdaa-79303aafc9ba.png
        options:
          type: array
          description: The options that belong to this group
          items:
            $ref: '#/components/schemas/PollOption'
    PollOption:
      type: object
      required:
        - name
      properties:
        id:
          type: string
          format: uuid
          description: Assigned by the server when omitted. Include on updates to preserve the option's identity and its votes.
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: Cameron Cardwell
        subtitle:
          type: string
          maxLength: 100
          description: Extra info about the option, e.g. a player's number
          example: "#17"
        imageUrl:
          type: string
          maxLength: 500
          example: https://assets.icaa.world/9ccd9c08-d3cb-4a25-a386-675c9c299c61.jpg
    VoteBallot:
      type: object
      required:
        - optionIds
      properties:
        optionIds:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          description: IDs of the options to vote for
          items:
            type: string
            format: uuid
          example: ["00000000-0000-0000-0000-000000000000"]
    VoteConfirmation:
      type: object
      required:
        - pollId
        - optionIds
      properties:
        pollId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        optionIds:
          type: array
          description: The options that were recorded for this ballot
          items:
            type: string
            format: uuid
          example: ["00000000-0000-0000-0000-000000000000"]
    PollResults:
      type: object
      required:
        - pollId
        - level
        - results
      properties:
        pollId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        level:
          $ref: '#/components/schemas/PublicResultsLevel'
        totalVotes:
          type: integer
          description: Total amount of ballots cast. Only present when level is Full.
          example: 42
        results:
          type: array
          items:
            $ref: '#/components/schemas/OptionResult'
    OptionResult:
      type: object
      required:
        - optionId
      properties:
        optionId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        count:
          type: integer
          description: Vote count for this option. Only present when level is Full.
          example: 10
        percentage:
          type: integer
          description: Percentage of votes for this option (0-100). Only present when level is Percentages.
          example: 42
        rank:
          type: integer
          description: Rank of this option (1-based, ties share rank). Only present when level is Rankings.
          example: 1
    ErrorCode:
      type: string
      enum:
        - InternalError
        - LimitOutOfBounds
        - InvalidCursor
        - NotFound
        - InvalidBody
        - InputValidationError
        - AuthError
        - CaptchaInvalid
        - PollNotActive
        - InvalidBallot
        - IdempotencyConflict
        - VersionConflict
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
          example: InternalError
        message:
          type: string
          example: An unexpected error occurred.
